**Medidas de Tendência Central com Numpy:**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random

In [7]:
amostra=np.array([2500,3200,2700,3000,3400,3700,4500,4700,5000,5200,6000,7000])

In [46]:
media=np.mean(amostra)
mediana=np.median(amostra)
diferenca=[x - media for x in amostra]

q1=np.percentile(amostra,25) # o primeiro quartil representa 25% do total da amostra
q2=np.percentile(amostra,50) # mediana pode ser interpretada como o seu segundo quartil (quartil 50)
q3=np.percentile(amostra,75) # o terceiro quartil representa 75% do total da amostra

amostra_df=pd.DataFrame(amostra, columns=['Valores'])
distancia=(media-mediana)/mediana*100
quadrados_das_diferencas= [x **2 for x in diferenca]
variancia=sum(quadrados_das_diferencas) / len (quadrados_das_diferencas)
desviopadrao=variancia **0.5  
desviopadrao=np.std(amostra)
amostra2=pd.Series(amostra)
variancia2=amostra2.var()
desviopadrao3=amostra2.std()
iqr=q3-q1
limite_superior=q3+(1.5*iqr)
limite_inferior=q1-(1.5*iqr)
coef_variacao=desviopadrao/media
distancia=variancia / (media**2)

salarios={'Salários':[2500,2700,3200,4000,4500,4800,5000,5200,6000,8000,15000]}
df_salarios=pd.DataFrame(salarios)
display(df_salarios)

#Calculando a assimetria
assimetria=df_salarios['Salários'].skew()
media=df_salarios['Salários'].mean()
mediana=df_salarios['Salários'].median()


curtose=df_salarios['Salários'].kurtosis()

    Salários
0       2500
1       2700
2       3200
3       4000
4       4500
5       4800
6       5000
7       5200
8       6000
9       8000
10     15000

In [9]:
#INTERVALO INTERQUARTIL:

if q1 <= media <= q3:
    print("A média está DENTRO do intervalo interquartil, o que sugere confiabilidade.")
else:
    print("A média está FORA do intervalo interquartil, o que sugere MENOS confiabilidade.")

A média está DENTRO do intervalo interquartil, o que sugere confiabilidade.

In [10]:
valor_maximo=amostra_df['Valores'].max()
valor_minimo=amostra_df['Valores'].min()
amplitude_total=valor_maximo-valor_maximo

**Outliers:**

In [47]:
#Cálculos para verificação do Intervalo InterQuartil (IQR) e seus Limites:

iqr=q3-q1
limite_superior=q3+(1.5*iqr)
limite_inferior=q1-(1.5*iqr)

#Resumo Estatístico:
print(f'Média: {media}')
print(f'Mediana: {mediana}')
display(diferenca)
print (f'Distância entre média e mediana: {distancia:.2f}%')
print(f"Primeiro Quartil (Q1): {q1}")
print(f"Segundo Quartil (Q2): {q2}")
print(f"Terceiro Quartil (Q3): {q3}")
print(f"Intervalo InterQuartil: {iqr}")
print(f"Limite Superior: {limite_superior}")
print(f"Limite Inferior: {limite_inferior}")
print(f'Menor Valor: {valor_minimo}')
print(f'Maior Valor: {valor_maximo}')
print(f'Amplitude: {amplitude_total}')
print(f'Variância: {variancia}')
print(f'Variância 2: {variancia2}')
print (f'Desvio padrão: {desviopadrao}') 
print (f'Desvio de padrão 2: {desviopadrao}')
print (f'Desvio de padrão 3: {desviopadrao}')
print(f"Intervalo InterQuartil: {iqr}")
print(f"Limite Superior: {limite_superior}")
print(f"Limite Inferior: {limite_inferior}")
print(f'Coeficiente da Variação: {coef_variacao}')

print(distancia*100,'%')

display(df_salarios)

print(f'Assimetria:{assimetria}')

print(curtose)

Média: 5536.363636363636
Mediana: 4800.0

[-1741.666666666667,
 -1041.666666666667,
 -1541.666666666667,
 -1241.666666666667,
 -841.666666666667,
 -541.666666666667,
 258.33333333333303,
 458.33333333333303,
 758.333333333333,
 958.333333333333,
 1758.333333333333,
 2758.333333333333]

Distância entre média e mediana: 0.10%
Primeiro Quartil (Q1): 3150.0
Segundo Quartil (Q2): 4100.0
Terceiro Quartil (Q3): 5050.0
Intervalo InterQuartil: 1900.0
Limite Superior: 7900.0
Limite Inferior: 300.0
Menor Valor: 2500
Maior Valor: 7000
Amplitude: 0
Variância: 1792430.5555555553
Variância 2: 1955378.787878788
Desvio padrão: 1338.8168491453773
Desvio de padrão 2: 1338.8168491453773
Desvio de padrão 3: 1338.8168491453773
Intervalo InterQuartil: 1900.0
Limite Superior: 7900.0
Limite Inferior: 300.0
Coeficiente da Variação: 0.3156346206236646
9.962521373624462 %

    Salários
0       2500
1       2700
2       3200
3       4000
4       4500
5       4800
6       5000
7       5200
8       6000
9       8000
10     15000

Assimetria:2.250352522796866
5.832993558134647